* {
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/home/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    height: fit-content;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border: 8px solid #000;
    border-radius: 40px;
    padding: 20px;
}

main h1 {
    color: aliceblue;
    font-size: 2em;
    text-align: center;
}

#loginForm {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#loginForm label {
    font-size: 2em;
}

#loginForm input {
    width: 80%;
    border: none;
    border-radius: 20px;
    padding: 6px 8px;
}

main button {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 16px;
}

#loginButton {
    width: fit-content;
    /*align-self: center;*/
}

#buttonsDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttonsDiv button {
    width: 40%;
}

@media screen and (max-width: 700px) {
    #buttonsDiv {
        font-size: 0.85em;
    };
}

@media screen and (max-width: 380px) {
    main {
        min-width: 250px;
    };
}